@if(hero) {
  <div>
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div class="hero-name-field">
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <div>
      <label for="hero-power">Hero power: </label>
      <input id="hero-power" [(ngModel)]="hero.power" placeholder="Hero power" />
    </div>
    <button type="button" (click)="goBack()">go back</button>
  </div>
}
